{% extends "base.html" %}

{% block title %}
BMI System- Update data
{% endblock %}

{% block extraCSS %}
<style>
    /* label,
    input,
    submit {
        display: block;
        margin: 5px;
    } */
</style>
{% endblock %}

{% block headline %}
Updating <span class="text-primary"> {{p.pname}} </span>
{% endblock %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <div class="mb-1">
            <label class="form-label" for="pname">Name: </label>
            <input class="form-control" type="text" id="pname" name="pname" value="{{ p.pname }}" readonly>
        </div>

        <div class="mb-1">
            <label class="form-label" for="weight">Weight: </label>
            <input class="form-control" type="number" id="weight" name="w" value={{ p.w }}>
        </div>

        <div class="mb-1">
            <label class="form-label" for="weight">Height: </label>
            <input class="form-control" type="number" id="height" name="h" value={{ p.h }}>
        </div>
    </div>

    <input class="btn btn-primary" type="submit" value="Update">

</form>

{% endblock %}