{% extends "base.html" %}

{% block title %}
BMI System- Update data
{% endblock %}


{% block headline %}
Updating {{p.pname}}
{% endblock %}

{% block content %}

<!-- BUG: no field name specified. Please add the Name -->

<form action="" method="POST">
    {% csrf_token %}
    <label for="pname">Name: </label><br>
    <input type="text" id="pname" name="pname" value="{{ p.pname }}" readonly><br>

    <label for="weight">Weight: </label><br>
    <input type="number" id="weight" name="w" value={{ p.w }}><br>

    <label for="weight">Height: </label><br>
    <input type="number" id="height" name="h" value={{ p.h }}><br>

    <br><br>
    <input type="submit" value="Update">
</form>

{% endblock %}